USE [p5g4]
GO
/****** Object:  User [p5g4]    Script Date: 5/18/2020 5:01:34 PM ******/
CREATE USER [p5g4] FOR LOGIN [p5g4] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [p5g4]
GO
/****** Object:  Schema [PROJETO]    Script Date: 5/18/2020 5:01:35 PM ******/
CREATE SCHEMA [PROJETO]
GO
/****** Object:  Table [PROJETO].[AJUDA]    Script Date: 5/18/2020 5:01:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[AJUDA](
	[nif_assistente] [int] NOT NULL,
	[nif_dentista] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nif_assistente] ASC,
	[nif_dentista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[ASSISTENTE]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[ASSISTENTE](
	[nif] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[CHECK_DENTISTA]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[CHECK_DENTISTA](
	[codigo] [int] NOT NULL,
	[valor] [decimal](5, 2) NULL,
	[validade] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[CLINICA]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[CLINICA](
	[nome] [varchar](100) NULL,
	[horario] [varchar](100) NULL,
	[contacto] [int] NULL,
	[nif] [int] NOT NULL,
	[endereco] [varchar](100) NULL,
	[nif_fornecedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[CONSTITUI]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[CONSTITUI](
	[codigo_presc] [int] NOT NULL,
	[formula] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo_presc] ASC,
	[formula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[CONSULTA]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[CONSULTA](
	[codigo] [int] NOT NULL,
	[preco] [decimal](5, 2) NULL,
	[tipo] [varchar](100) NULL,
	[duracao] [int] NULL,
	[nif_dentista] [int] NULL,
	[dataa] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[DENTISTA]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[DENTISTA](
	[nif] [int] NOT NULL,
	[especialidade] [varchar](35) NULL,
	[numero_ordem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[FORNECEDOR]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[FORNECEDOR](
	[endereco] [varchar](100) NULL,
	[nif] [int] NOT NULL,
	[nome] [varchar](100) NULL,
	[contacto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[MATERIAL_DENTARIO]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[MATERIAL_DENTARIO](
	[nif_clinica] [int] NOT NULL,
	[material] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nif_clinica] ASC,
	[material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[MEDICAMENTO]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[MEDICAMENTO](
	[formula] [varchar](100) NOT NULL,
	[nome] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[formula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[PACIENTE]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[PACIENTE](
	[nif] [int] NOT NULL,
	[nif_clinica] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[PAGA]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[PAGA](
	[nif_paciente] [int] NOT NULL,
	[nif_rececionista] [int] NOT NULL,
	[codigo_consulta] [int] NOT NULL,
	[codigo_check] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nif_paciente] ASC,
	[nif_rececionista] ASC,
	[codigo_consulta] ASC,
	[codigo_check] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[PESSOA]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[PESSOA](
	[endereco] [varchar](100) NULL,
	[contacto] [int] NULL,
	[idade] [int] NULL,
	[nif] [int] NOT NULL,
	[nome] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[PRESCRICAO]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[PRESCRICAO](
	[codigo] [int] NOT NULL,
	[dataa] [date] NULL,
	[nif_dentista] [int] NOT NULL,
 CONSTRAINT [PK__PRESCRIC__40F9A2074E7ED121] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[RECECIONISTA]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[RECECIONISTA](
	[nif] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO].[STAFF]    Script Date: 5/18/2020 5:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO].[STAFF](
	[nif] [int] NOT NULL,
	[salario] [decimal](8, 2) NULL,
	[nif_clinica] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [PROJETO].[AJUDA] ([nif_assistente], [nif_dentista]) VALUES (324097261, 274873465)
INSERT [PROJETO].[AJUDA] ([nif_assistente], [nif_dentista]) VALUES (421424482, 297041833)
INSERT [PROJETO].[AJUDA] ([nif_assistente], [nif_dentista]) VALUES (421424482, 399356845)
GO
INSERT [PROJETO].[ASSISTENTE] ([nif]) VALUES (184973524)
INSERT [PROJETO].[ASSISTENTE] ([nif]) VALUES (187442691)
INSERT [PROJETO].[ASSISTENTE] ([nif]) VALUES (324097261)
GO
INSERT [PROJETO].[CHECK_DENTISTA] ([codigo], [valor], [validade]) VALUES (115922297, CAST(50.00 AS Decimal(5, 2)), CAST(N'2022-04-11' AS Date))
INSERT [PROJETO].[CHECK_DENTISTA] ([codigo], [valor], [validade]) VALUES (135712297, CAST(50.00 AS Decimal(5, 2)), CAST(N'2022-03-18' AS Date))
INSERT [PROJETO].[CHECK_DENTISTA] ([codigo], [valor], [validade]) VALUES (150026933, CAST(50.00 AS Decimal(5, 2)), CAST(N'2022-10-10' AS Date))
GO
INSERT [PROJETO].[CLINICA] ([nome], [horario], [contacto], [nif], [endereco], [nif_fornecedor]) VALUES (N'Clinica Dentária Docinha', N'Segunda a Terça da 9h-18h', 582106347, 450697253, N'TERMINAL MULTIUSOS DO PORTO DE SETUBAL', 802332015)
GO
INSERT [PROJETO].[CONSTITUI] ([codigo_presc], [formula]) VALUES (0, N'Mc2 Sb16 H9 Ho6 Se10 ')
INSERT [PROJETO].[CONSTITUI] ([codigo_presc], [formula]) VALUES (1, N'Rf7 H16 Ce17 Ca2 V9 Cd10 ')
INSERT [PROJETO].[CONSTITUI] ([codigo_presc], [formula]) VALUES (1, N'Sc15 Si11 Fe15 Mo16 Rb5 ')
GO
INSERT [PROJETO].[CONSULTA] ([codigo], [preco], [tipo], [duracao], [nif_dentista], [dataa]) VALUES (2, CAST(275.00 AS Decimal(5, 2)), N'Implantologia', 82, 742749204, CAST(N'2022-06-18' AS Date))
INSERT [PROJETO].[CONSULTA] ([codigo], [preco], [tipo], [duracao], [nif_dentista], [dataa]) VALUES (4, CAST(109.00 AS Decimal(5, 2)), N'Periodontologia', 89, 865560781, CAST(N'2021-05-02' AS Date))
INSERT [PROJETO].[CONSULTA] ([codigo], [preco], [tipo], [duracao], [nif_dentista], [dataa]) VALUES (5, CAST(10.00 AS Decimal(5, 2)), N'Implantologia', 100, 742749204, CAST(N'2022-12-26' AS Date))
GO
INSERT [PROJETO].[DENTISTA] ([nif], [especialidade], [numero_ordem]) VALUES (169740919, N'Medicina Dentária Preventiva', 626237390)
INSERT [PROJETO].[DENTISTA] ([nif], [especialidade], [numero_ordem]) VALUES (274873465, N'Medicina Dentária Preventiva', 637897246)
INSERT [PROJETO].[DENTISTA] ([nif], [especialidade], [numero_ordem]) VALUES (297041833, N'Implantologia', 153630059)
GO
INSERT [PROJETO].[FORNECEDOR] ([endereco], [nif], [nome], [contacto]) VALUES (N'TERMINAL MULTIUSOS DO PORTO DE SETUBAL', 802332015, N'Lucas e Tiago - Materiais Clínicos ™', 603554508)
GO
INSERT [PROJETO].[MATERIAL_DENTARIO] ([nif_clinica], [material]) VALUES (450697253, N'Acoplamentos')
INSERT [PROJETO].[MATERIAL_DENTARIO] ([nif_clinica], [material]) VALUES (450697253, N'Alicates')
INSERT [PROJETO].[MATERIAL_DENTARIO] ([nif_clinica], [material]) VALUES (450697253, N'Autoclaves')
GO
INSERT [PROJETO].[MEDICAMENTO] ([formula], [nome]) VALUES (N'Ac12 Zn10 As10 Sr4 Cs12 Ds6 ', N'Erlotinib HCl')
INSERT [PROJETO].[MEDICAMENTO] ([formula], [nome]) VALUES (N'Ac16 Rh9 Au16 Pb16 Mt4 ', N'Bexarotene')
INSERT [PROJETO].[MEDICAMENTO] ([formula], [nome]) VALUES (N'Ac3 Pu12 Bk18 Ag7 Ir9 Lu3 ', N'Gemcitabine HCl')
GO
INSERT [PROJETO].[PACIENTE] ([nif], [nif_clinica]) VALUES (102063753, 450697253)
INSERT [PROJETO].[PACIENTE] ([nif], [nif_clinica]) VALUES (141551495, 450697253)
INSERT [PROJETO].[PACIENTE] ([nif], [nif_clinica]) VALUES (152201741, 450697253)
GO
INSERT [PROJETO].[PAGA] ([nif_paciente], [nif_rececionista], [codigo_consulta], [codigo_check]) VALUES (102063753, 575831964, 55, 321217242)
INSERT [PROJETO].[PAGA] ([nif_paciente], [nif_rececionista], [codigo_consulta], [codigo_check]) VALUES (141551495, 575831964, 56, 319253584)
INSERT [PROJETO].[PAGA] ([nif_paciente], [nif_rececionista], [codigo_consulta], [codigo_check]) VALUES (152201741, 213754922, 28, 429501278)
GO
INSERT [PROJETO].[PESSOA] ([endereco], [contacto], [idade], [nif], [nome]) VALUES (N'AVENIDA DA SEIXA, 686 - RAMIL', 773045713, 65, 102063753, N'Aliya Tristão Lameira ')
INSERT [PROJETO].[PESSOA] ([endereco], [contacto], [idade], [nif], [nome]) VALUES (N'RUA TOMAS DA FONSECA, TORRE C', 266314203, 22, 111143693, N'Adrien Mendonça Noite ')
INSERT [PROJETO].[PESSOA] ([endereco], [contacto], [idade], [nif], [nome]) VALUES (N'ZONA INDUSTRIAL DA MOTA, 7/11 LOTE F17', 282977287, 79, 141551495, N'Luz Nunes Lagos ')
GO
INSERT [PROJETO].[PRESCRICAO] ([codigo], [dataa], [nif_dentista]) VALUES (0, CAST(N'2022-01-27' AS Date), 169740919)
INSERT [PROJETO].[PRESCRICAO] ([codigo], [dataa], [nif_dentista]) VALUES (1, CAST(N'2021-07-20' AS Date), 169740919)
INSERT [PROJETO].[PRESCRICAO] ([codigo], [dataa], [nif_dentista]) VALUES (2, CAST(N'2022-06-01' AS Date), 169740919)
GO
INSERT [PROJETO].[RECECIONISTA] ([nif]) VALUES (111143693)
INSERT [PROJETO].[RECECIONISTA] ([nif]) VALUES (197311113)
INSERT [PROJETO].[RECECIONISTA] ([nif]) VALUES (213754922)
GO
INSERT [PROJETO].[STAFF] ([nif], [salario], [nif_clinica]) VALUES (111143693, CAST(3743.66 AS Decimal(8, 2)), 450697253)
INSERT [PROJETO].[STAFF] ([nif], [salario], [nif_clinica]) VALUES (169740919, CAST(2994.53 AS Decimal(8, 2)), 450697253)
INSERT [PROJETO].[STAFF] ([nif], [salario], [nif_clinica]) VALUES (184973524, CAST(3705.63 AS Decimal(8, 2)), 450697253)
GO
ALTER TABLE [PROJETO].[AJUDA]  WITH NOCHECK ADD  CONSTRAINT [FK__AJUDA__nif_assis__540D4657] FOREIGN KEY([nif_assistente])
REFERENCES [PROJETO].[ASSISTENTE] ([nif])
GO
ALTER TABLE [PROJETO].[AJUDA] CHECK CONSTRAINT [FK__AJUDA__nif_assis__540D4657]
GO
ALTER TABLE [PROJETO].[AJUDA]  WITH NOCHECK ADD  CONSTRAINT [FK__AJUDA__nif_denti__55016A90] FOREIGN KEY([nif_dentista])
REFERENCES [PROJETO].[DENTISTA] ([nif])
GO
ALTER TABLE [PROJETO].[AJUDA] CHECK CONSTRAINT [FK__AJUDA__nif_denti__55016A90]
GO
ALTER TABLE [PROJETO].[ASSISTENTE]  WITH NOCHECK ADD  CONSTRAINT [FK__ASSISTENTE__nif__489B93AB] FOREIGN KEY([nif])
REFERENCES [PROJETO].[STAFF] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [PROJETO].[ASSISTENTE] CHECK CONSTRAINT [FK__ASSISTENTE__nif__489B93AB]
GO
ALTER TABLE [PROJETO].[CLINICA]  WITH NOCHECK ADD  CONSTRAINT [FK__CLINICA__nif_for__3959501B] FOREIGN KEY([nif_fornecedor])
REFERENCES [PROJETO].[FORNECEDOR] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [PROJETO].[CLINICA] CHECK CONSTRAINT [FK__CLINICA__nif_for__3959501B]
GO
ALTER TABLE [PROJETO].[CONSTITUI]  WITH NOCHECK ADD  CONSTRAINT [FK__CONSTITUI__codig__57DDD73B] FOREIGN KEY([codigo_presc])
REFERENCES [PROJETO].[PRESCRICAO] ([codigo])
ON DELETE CASCADE
GO
ALTER TABLE [PROJETO].[CONSTITUI] CHECK CONSTRAINT [FK__CONSTITUI__codig__57DDD73B]
GO
ALTER TABLE [PROJETO].[CONSTITUI]  WITH NOCHECK ADD  CONSTRAINT [FK__CONSTITUI__formu__58D1FB74] FOREIGN KEY([formula])
REFERENCES [PROJETO].[MEDICAMENTO] ([formula])
ON DELETE CASCADE
GO
ALTER TABLE [PROJETO].[CONSTITUI] CHECK CONSTRAINT [FK__CONSTITUI__formu__58D1FB74]
GO
ALTER TABLE [PROJETO].[CONSULTA]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTA_DENTISTA] FOREIGN KEY([nif_dentista])
REFERENCES [PROJETO].[DENTISTA] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [PROJETO].[CONSULTA] CHECK CONSTRAINT [FK_CONSULTA_DENTISTA]
GO
ALTER TABLE [PROJETO].[DENTISTA]  WITH CHECK ADD  CONSTRAINT [FK_DENTISTA_STAFF] FOREIGN KEY([nif])
REFERENCES [PROJETO].[STAFF] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [PROJETO].[DENTISTA] CHECK CONSTRAINT [FK_DENTISTA_STAFF]
GO
ALTER TABLE [PROJETO].[MATERIAL_DENTARIO]  WITH NOCHECK ADD  CONSTRAINT [FK__MATERIAL___nif_c__61674175] FOREIGN KEY([nif_clinica])
REFERENCES [PROJETO].[CLINICA] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [PROJETO].[MATERIAL_DENTARIO] CHECK CONSTRAINT [FK__MATERIAL___nif_c__61674175]
GO
ALTER TABLE [PROJETO].[PACIENTE]  WITH CHECK ADD  CONSTRAINT [FK__PACIENTE__nif__3C35BCC6] FOREIGN KEY([nif])
REFERENCES [PROJETO].[PESSOA] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [PROJETO].[PACIENTE] CHECK CONSTRAINT [FK__PACIENTE__nif__3C35BCC6]
GO
ALTER TABLE [PROJETO].[PACIENTE]  WITH NOCHECK ADD  CONSTRAINT [FK__PACIENTE__nif_cl__3D29E0FF] FOREIGN KEY([nif_clinica])
REFERENCES [PROJETO].[CLINICA] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [PROJETO].[PACIENTE] CHECK CONSTRAINT [FK__PACIENTE__nif_cl__3D29E0FF]
GO
ALTER TABLE [PROJETO].[PAGA]  WITH NOCHECK ADD  CONSTRAINT [FK__PAGA__codigo_che__5E8AD4CA] FOREIGN KEY([codigo_check])
REFERENCES [PROJETO].[CHECK_DENTISTA] ([codigo])
GO
ALTER TABLE [PROJETO].[PAGA] CHECK CONSTRAINT [FK__PAGA__codigo_che__5E8AD4CA]
GO
ALTER TABLE [PROJETO].[PAGA]  WITH NOCHECK ADD  CONSTRAINT [FK__PAGA__codigo_con__5D96B091] FOREIGN KEY([codigo_consulta])
REFERENCES [PROJETO].[CONSULTA] ([codigo])
GO
ALTER TABLE [PROJETO].[PAGA] CHECK CONSTRAINT [FK__PAGA__codigo_con__5D96B091]
GO
ALTER TABLE [PROJETO].[PAGA]  WITH NOCHECK ADD  CONSTRAINT [FK__PAGA__nif_pacien__5BAE681F] FOREIGN KEY([nif_paciente])
REFERENCES [PROJETO].[PACIENTE] ([nif])
GO
ALTER TABLE [PROJETO].[PAGA] CHECK CONSTRAINT [FK__PAGA__nif_pacien__5BAE681F]
GO
ALTER TABLE [PROJETO].[PAGA]  WITH CHECK ADD  CONSTRAINT [FK__PAGA__nif_receci__5CA28C58] FOREIGN KEY([nif_rececionista])
REFERENCES [PROJETO].[RECECIONISTA] ([nif])
GO
ALTER TABLE [PROJETO].[PAGA] CHECK CONSTRAINT [FK__PAGA__nif_receci__5CA28C58]
GO
ALTER TABLE [PROJETO].[PRESCRICAO]  WITH CHECK ADD  CONSTRAINT [FK_PRESCRICAO_DENTISTA] FOREIGN KEY([nif_dentista])
REFERENCES [PROJETO].[DENTISTA] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [PROJETO].[PRESCRICAO] CHECK CONSTRAINT [FK_PRESCRICAO_DENTISTA]
GO
ALTER TABLE [PROJETO].[RECECIONISTA]  WITH NOCHECK ADD  CONSTRAINT [FK__RECECIONIST__nif__4B780056] FOREIGN KEY([nif])
REFERENCES [PROJETO].[STAFF] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [PROJETO].[RECECIONISTA] CHECK CONSTRAINT [FK__RECECIONIST__nif__4B780056]
GO
ALTER TABLE [PROJETO].[STAFF]  WITH NOCHECK ADD  CONSTRAINT [FK__STAFF__nif__41EE961C] FOREIGN KEY([nif])
REFERENCES [PROJETO].[PESSOA] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [PROJETO].[STAFF] CHECK CONSTRAINT [FK__STAFF__nif__41EE961C]
GO
